@font-face {
  font-family: Consolas;
  src: url(Font/CONSOLA.TTF);
}

@font-face {
  font-family: ConsolasBold;
  src: url(Font/CONSOLAB.TTF);
}

html,
body {
  height: 100%;
  padding-top: 0;
  margin: 0;
  font-family: Consolas;
}

body {
  margin: 0 8px;
  background-color: #003b6f;
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;

}

main {
  display: flex;
  gap: 10px;
  flex-grow: 1;
}

h1 {
  font-family: ConsolasBold;
  font-size: xx-large;
  padding-left: 30px;
}

hr {
  border: none;
  border-top: dashed 2px darkslategray;
  margin: 10px 20px;
}

body>a>img {
  position: fixed;
  bottom: 10px;
  left: 10px;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  opacity: 75%;
  border: solid rgb(17, 17, 17) 2px;
}

header a:link {
  color: darkcyan;
  text-decoration: none;
}

header a:visited {
  color: darkcyan;
}

header a:hover {
  color: white;
}

header a:active {
  color: white;
}

header a {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-top: 22px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  transition-property: padding, border-radius, color;
  transition-duration: 0.25s;
}

header a:hover {
  padding: 10px;
  border-radius: 15px;
}

.actif:hover {
  padding-bottom: 22px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.actif {
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  padding-bottom: 22px;
  border-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

header {
  display: flex;
}

header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(50, 50, 50, 0.5);
  position: relative;
}

header nav div {
  background: rgba(255, 215, 0, 0.15);
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  font-size: 10px;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 50px;
}

header ul {
  width: 75%;
  margin: 0;
  padding: 15px;
  padding-left: 5%;
  list-style: none;
  display: flex;
  gap: 10%;
}

header li,
footer li {
  margin: 5px;
}

header aside {
  display: flex;
  position: relative;
  padding: 3px;
  margin-left: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 5px black;
}

header aside img {
  align-self: center;
  height: 50px;
  width: 50px;
  object-fit: cover;
  object-position: top;
}

header aside div {
  display: none;
  position: absolute;
  right: -2px;
  top: -2px;
  padding-left: 2px;
  font-size: 53%;
  width: 500%;
  height: 100%;
  background-color: #D5CABC;
  border: 2px solid black;
  box-shadow: inset 0px 0px 5px black;
  border-radius: 5px;
}

header aside:hover div {
  display: block;
}

header aside li,
header aside ul,
header aside h2 {
  margin: 0;
  padding-top: 0;
}

main aside {
  width: 15%;
  border: 2px solid black;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 5px black;
}

main>article>section {
  padding-right: 10%;
}

aside ul {
  list-style: circle;
  flex-direction: column;
}

aside li {
  margin-bottom: 10px;
}

aside figure {
  margin: 5%;
}

aside img {
  width: 100%;
  height: 14vw;
  border-radius: 25%;
  object-fit: cover;
  object-position: top;
}

main>article {
  flex-grow: 2;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid black;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: inset 0px 0px 5px black;
}

main>article>section {
  margin-left: 5px;
  padding-left: 5px;
  border-left: 2px dotted darkslategray;
}

section>article {
  margin-left: 10px;
}

article section li {
  list-style: symbols(cyclic "➥");
}

footer {
  color: white;
  padding: 5px;
  border: 2px solid black;
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgba(25, 25, 25, 0.90);
}

footer ul {
  list-style: none;
  display: flex;
}

footer {
  text-align: right;
}

footer a {
  font-size: 80%;
  color: darkslategray;
}





main a {
  background-color: rgba(209, 209, 209, 0.75);
  padding: 5px 5px 3px 5px;
  border-radius: 7px;
  text-decoration: none;
  color: black;
  box-shadow: inset 0 0 0 white;

  transition: box-shadow 0.35s;
}

main a:hover {
  box-shadow: inset 0 0 50px white;
}

main a:visited {
  color: black;
}

h3 {
  margin: 30px 0 0 0;
}