@font-face {
	font-family: Consolas;
	src: url(Font/CONSOLA.TTF);
}

@font-face {
	font-family: ConsolasBold;
	src: url(Font/CONSOLAB.TTF);
}

:root {
	/* OLD */
	--border-color: #000000;

	--bg-color: #e9e9e9;

	--nav-button-bg-color: #205891;
	--nav-button-bg-hover-color: #0e3d6d;

	--box-border-color: #808080;

	--project-bg-color: #e1eaf1;
	--project-button-bg-color: #d3d3d3;
	--project-button-hover-bg-color: #808080;
	/* --- */

	/* NEW */
	--body-bg-color: #e4e4e4;
	
	--nav-bg-color: #adadad;

	--img-border-color: #303030;
	--img-border-width: 2px;
	
    --btn-border-color: #5f4100;
    --btn-border-width: 2px;
    --btn-background: #dbdbdb;
    --btn-background-hover: #b8b8b8;
    --btn-tag-color: #9e0505;
	
    --btn-height: 30px;

	--main-bg-color: #c0c0c0;
	
	--box-border-color: #002b5f;
	--box-border-width: 2px;

	--projet-border-color: #a87a54;
	--projet-border-width: 2px;

	--footer-bg-color: #8d8d8d;
	/* --- */
}

body,
html {
	min-height: 100vh;

	font-family: Consolas;

	cursor: default;
	background-color: var(--body-bg-color);
}

body {
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-family: ConsolasBold;
}

h1 {
	display: inline-block;
	font-size: 200%;
	padding-left: 1.5em;
}

h3 {
	margin-bottom: 0.25em;
}

h3+p {
	margin-top: 0;
}

header,
main,
footer {
	/* border: 2px solid var(--border-color);
	background-color: var(--bg-color);
	border-radius: 1em; */
	border: var(--box-border-width) solid var(--box-border-color);
    margin: 10px;
    padding: 13px;
    box-shadow: var(--box-border-width) 0 0 0 var(--box-border-color),
     0 var(--box-border-width) 0 0 var(--box-border-color), 
     calc(-1 * var(--box-border-width)) 0 0 0 var(--box-border-color), 
     0 calc(-1 * var(--box-border-width)) 0 0 var(--box-border-color);
}

/*------Header------*/

header {
	display: flex;
	background-color: var(--nav-bg-color);
}

header>aside {
	display: flex;
	gap: 30px;
	padding: 10px;
	border-radius: 7px 0 0 7px;
}

nav {
	display: flex;
	justify-content: space-around;
	width: 100%;
	align-items: center;
	padding: 10px;
	border-left: 2px solid var(--border-color);
	flex-shrink: 2;
}

/* NEW */
.navBtn {
    font-family: ConsolasBold;
    font-size: calc(var(--btn-height) / 2);

    height: var(--btn-height);
    position: relative;
    display: inline-block;
    border: var(--btn-border-width) solid var(--btn-border-color);
    padding: 0 calc(var(--btn-height) / 2);
    box-shadow: var(--btn-border-width) 0 0 0 var(--btn-border-color),
     0 var(--btn-border-width) 0 0 var(--btn-border-color), 
     calc(-1 * var(--btn-border-width)) 0 0 0 var(--btn-border-color), 
     0 calc(-1 * var(--btn-border-width)) 0 0 var(--btn-border-color);
    
    background-color: var(--btn-background);
    transition: all 0.25s;
}

/* Arrows when hover */
.navBtn::before, .navBtn::after {
    position: absolute;
    top: 0;
    content: "";
    height: 0;
    border: calc(var(--btn-height) / 2) solid transparent;
    transition: all 0.5s;

}

.navBtn::before {
    left: 0;
    border-left: 0px solid var(--btn-border-color);
}

.navBtn::after {
    right: 0;
    border-right: 0px solid var(--btn-border-color);
}

.navBtn:hover {
    cursor: pointer;
    background-color: var(--btn-background-hover);
}

.navBtn:hover::before, .navBtn:hover::after {
    border-left-width: 11px;
    border-right-width: 11px;
}

/* Active button label */
tag {
	pointer-events: none;

    opacity: 0%;
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    font-size: x-small;
    color: var(--btn-tag-color);

	transition: all 0.25s;
}

tag::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    border: 5px solid transparent;
    border-bottom-color: var(--btn-tag-color);
}

.active>tag {
    opacity: 100%;
}
/* --- */


img {
	height: 100px;
	align-self: center;
	aspect-ratio: 9 / 12;

	object-fit: cover;

    border: var(--img-border-width) solid var(--img-border-color);
    box-shadow: var(--img-border-width) 0 0 0 var(--img-border-color),
     0 var(--img-border-width) 0 0 var(--img-border-color), 
     calc(-1 * var(--img-border-width)) 0 0 0 var(--img-border-color), 
     0 calc(-1 * var(--img-border-width)) 0 0 var(--img-border-color);
}

/*------Corps------*/

main {
	flex-grow: 3;
	background-color: var(--main-bg-color);
	/* padding: 10px 20px;
	margin: 7px 0; */
}

h2 {
	margin: 10px 0 0 0;
}

#projets, #parcours{
	display: none;
}

.projet {
	margin: 13px 0;
	/* border-radius: 11px; */
	padding: 7px 13px 19px 13px;
	
	background-color: var(--project-bg-color);
    border: var(--projet-border-width) solid var(--projet-border-color);
    box-shadow: var(--projet-border-width) 0 0 0 var(--projet-border-color),
     0 var(--projet-border-width) 0 0 var(--projet-border-color), 
     calc(-1 * var(--projet-border-width)) 0 0 0 var(--projet-border-color), 
     0 calc(-1 * var(--projet-border-width)) 0 0 var(--projet-border-color);
}

.projet>h3 {
	display: inline;
	font-size: 150%;
}

.button {
	margin-right: 15px;
	cursor: pointer;
	padding: 7px;
}

.button::before {
	content: '▼';
}

.check:checked+.button::before {
	content: '▲';
}

.check:checked~div {
	max-height: fit-content;

}

.check {
	display: none;
}

.projectContent {
	max-height: 0px;

	overflow: hidden;

	transition: all 0.5s;
}

.box {
	padding: 0.75em 2.25em;
	border-top: 2px dotted var(--box-border-color);
	border-bottom: 2px dotted var(--box-border-color);
	right: 50%;
	margin-bottom: 2.5em;
}

.projectButton {
	margin: 7px;
	padding: 7px;
	background-color: var(--project-button-bg-color);
	text-decoration: none;
	color: black;
	border: 1px solid var(--border-color);
	border-radius: 0.25em 1em;

	transition: box-shadow, 0.25s;
	box-shadow: inset 0 0 var(--project-button-hover-bg-color), inset 0 0 var(--project-button-hover-bg-color);
}

.projectButton:hover {
	transition: box-shadow, 0.75s;
	box-shadow: inset 0 -10em var(--project-button-hover-bg-color), inset 0 10em var(--project-button-hover-bg-color);

}

/*------Footer------*/

footer {
	background-color: var(--footer-bg-color);
	padding: 1.5em;
}

h4 {
	font-size: 125%;
	margin: 0;
}

.contact {
	width: 50%;
	margin-left: 2em;
	padding: 1em;
	border-left: 2px solid darkslategray;
}

.flex-row {
	display: flex;
	flex-direction: row;
	padding-top: 0.5em;
}

.flex-row>div:not(:first-of-type) {
	padding-left: 0.5em;
}

.flex-row p {
	margin: 0;
}













/*------En développement------*/

.WorkInProgress {
	text-align: center;
	font-size: 200%;
	font-weight: bold;
	padding: 10px;
	border: 5px dashed black;
	background-color: yellow;
}
